    <header class='clearfix'>
        <ul>
          <li><%= link_to image_tag("ch_delta_red_logo_sm.png"), "https://www.changehealthcare.com/" %></li>
          <li><%= link_to "About", about_path %></li>

          <li><%= link_to "Worklist", root_path %></li>
          <li><%= link_to "Contact", contact_path%></li>
        </ul>
    </header>
<div class='content'>
<h2>Purpose</h2>
<iframe width="768" height="432" src="https://youtube.com/embed/gQnvbqP6SfY">
</iframe>
<br>
<a href="https://www.beckershospitalreview.com/healthcare-information-technology/try-this-to-reduce-readmissions-at-your-hospital.html">Case Study</a>
<br>
<a href="https://youtu.be/gQnvbqP6SfY">Webinar</a>
<br>
<h3>Potential Use Case: </h3>
Why are Transition Nurses critical in preventing 30 day readmissions? <br>
When are they successful and when are they not? <br>
My intent is to have an application that could log Transition Nurse activity and then figure out which set of actions are beneficial to certain patient populations.
<br>

</div>