    <header class='clearfix'>
        <ul>
          <li><%= link_to image_tag("ch_delta_red_logo_sm.png"), "https://www.changehealthcare.com/" %></li>
          <li><a href="https://www.changehealthcare.com/">CHC</a></li>
          <li><%= link_to "Worklist", root_path %></li>
          <li><%= link_to "About", static_pages_about_path %></li>
        </ul>
    </header>

<h2>Purpose</h2>
<iframe width="420" height="345" src="https://youtube.com/embed/gQnvbqP6SfY">
</iframe>
<br>
<a href="https://www.beckershospitalreview.com/healthcare-information-technology/try-this-to-reduce-readmissions-at-your-hospital.html">Case Study</a>
<br>
<a href="https://youtu.be/gQnvbqP6SfY">Webinar</a>
<br>
<h3>Potential Use Case: </h3>
Why are Transition Nurses critical in preventing 30 day readmissions? <br>
When are they successful and when are they not? <br>
My intent is to have an application that could log Transition Nurse activity and then figure out which set of actions are beneficial to certain patient populations.
<br>
<h3>Learning Objectives</h3>
<ul>
	<li>Practice building a Web Application</li>
	<li>Learn about distributed version control</li>
	<li>Learn how to deploy code</li> 
	<li>Figure out hosting cost</li>
	<li>Learn how to leverage APIs</li>
	<li>Figure out API cost</li>
</ul>

<h3>Future Enhancements</h3>
<ul>
  <li>Update App Workflow</li>
  <li>Update Data Model</li>
  <li>Update Seed File</li>
  <li>Update UI / UX</li>
  	<ul>
  		<li>Add Navigation Bar</li>
  		<li>Add Carsousel</li>
  		<li>Add JavaScript Visualizations</li> 
  	</ul>
  <li>Add Machine Learning</li>
  	<ul>
  		<li>Calculate Risk Scores</li>
  		<li>Profile Providers & Patients</li>
  		<li>Estimate Cost Savings</li>
  	</ul>
  <li>Add APIs</li>
  	<ul>
  		<li>BetterDoctor - Doctor Search by location</li>
  		<li>GoodRx - Fair Drug Price widget</li>
  		<li>Yelp - Provider Reviews</li>
  		<li>CMS Blue Button - Medicare Claims Data</li>
  		<li>PokitDoc - Out-of-Pocket Drug Price</li>
  		<li>First Data Bank - Drug Info</li>
  	</ul>
</ul> 

<h3>git</h3>
