body {
    background-color: #0D2C6C; //#CHC Blue #0f0f59 purple1
    color: #FFFFFF;
    margin: 0;                    }
#encounters {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 42%;                       }
#encounters td, #encounters th {
    border: 1px solid #ddd;
    text-align: center;
    padding: 6px;                     }
#encounters tr:nth-child(even){background-color: #0F0F59;} //Purple #6e7578
//#encounters tr:nth-child(odd){background-color: #7460B7;} //#6e7578
#encounters tr:hover {background-color: #F42A4D;}  //CHC Pink #ddd
#encounters th {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    background-color: #0064A1;  //#4c80af
    color: white;                     }